:root {
  /* Colors */
  --base-strong: #1c1c1c;
  --base-weak: #fff;
  --faint-strong: #808080;
  --faint-weak: #f3f3f3;
  --faint-strong-up: #505050;
  --faint-strong-down: #d5d5d5;
  --faint-strong-line: #999;
  --accent-strong: #006974;
  --accent-weak: #f0f6f7;
  --accent-strong-down: #2c838c;
  --accent-strong-text: #b6d4d7;
  --complement-strong: #5787d9;
  --critic-strong: #bf2a13;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Cantarell,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    'Helvetica Neue',
    Arial,
    sans-serif;
  background-color: var(--faint-weak);
}
