.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--faint-strong-text);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--faint-weak-up);
  box-shadow: 0 0.07em 0 rgb(0 0 0 / 20%);
}
