.main {
  display: grid;
  height: 100vh;
  padding: 3.75rem 1rem 1rem;
}

@media (max-width: 786px) {
  .main {
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
  }
}
