.searchField {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--base-weak);
  border: 1px solid var(--faint-strong-line);
  border-radius: 0.5rem;
}

.searchFieldFocuse {
  padding: 0.4375rem;
  border-color: var(--compliment-strong-up);
  border-width: 2px;
}

.searchFieldIcon {
  height: 1.75rem;
  fill: var(--faint-strong-line);
}

.searchFieldFocuse .searchFieldIcon {
  fill: var(--compliment-strong-up);
}

.searchFieldInput {
  flex-grow: 1;
  font-size: 1rem;
  color: var(--base-strong);
  border: none;
  outline: none;
}

.searchFieldInput::placeholder {
  color: var(--faint-strong-line);
}
