:root {
  /* Colors */
  --white: #fff;
  --gray: #808080;
  --brown: #404040;
  --silver: #bfbfbf;
  --gainsborough: #e6e6e6;
  --active: #595e95;
  --new: #bf0000;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', Arial,
    sans-serif;
}
