.textField {
  display: inline-flex;
  align-items: center;
  padding: 0.375em 0.5em;
  font-size: 1rem;
  border: 0.125em solid var(--faint-strong);
  border-radius: 1.8em;
}

.textField.focuse {
  border-color: var(--accent-strong);
}

.textField svg {
  width: 1.75em;
  height: 1.75em;
  fill: var(--faint-strong);
}

.inputWrapper {
  flex-grow: 1;
  background-color: cyan;
}
