/* Base */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  margin: 0;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  transition: 0.2s;
}

/* Base Icon */
.button svg {
  width: 1.21em;
  height: 1.21em;
  margin-right: 0.3em;
  margin-left: -0.1em;
}

/* Default Active */
.variantDefault.active {
  color: var(--base-weak);
  background-color: var(--accent-strong);
  box-shadow: 0 0.07em 0 rgb(0 0 0 / 20%);
}

.variantDefault.active svg {
  fill: var(--base-weak);
}

.variantDefault:hover.active {
  background-color: var(--accent-strong-up);
}

/* Default Disabled */
.variantDefault.disabled {
  color: var(--accent-weak-up);
  background-color: var(--accent-weak);
  box-shadow: none;
}

.variantDefault.disabled svg {
  fill: var(--accent-weak-up);
}

/* Text Active */
.variantText.active {
  color: var(--accent-strong);
  background-color: transparent;
}

.variantText.active svg {
  fill: var(--accent-strong);
}

.variantText:hover.active {
  background-color: var(--faint-weak-up);
}

/* Text Disabled */
.variantText.disabled {
  color: var(--faint-weak-text);
  background-color: transparent;
}

.variantText.disabled svg {
  fill: var(--accent-weak-up);
}
