.formWrapper,
.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}
