.label {
  display: inline-flex;
  align-items: center;
  padding: 0.285em 0.571em;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 8em;
}

.default {
  color: var(--accent-strong);
  background-color: var(--accent-weak);
}

.critical {
  color: var(--critical-strong);
  background-color: var(--critic-weak);
}

.success {
  color: var(--success-strong);
  background-color: var(--success-weak);
}
