.navigation {
  font-size: 1rem;
}

.list,
.iconWrapper {
  display: flex;
}

.list {
  flex-direction: column;
  padding: 0;
  margin: 0 1em 0 0;
  list-style: none;
}

.item + .item {
  margin-top: 0.25em;
}

.icon,
.iconWrapper {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.5rem;
}

.iconWrapper {
  align-items: center;
  justify-content: center;
}

.iconCircle {
  width: 1rem;
  height: 1rem;
}

.icon,
.iconCircle {
  fill: var(--faint-strong);
}

.link {
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
  color: var(--faint-strong);
  text-decoration: none;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.link,
.icon,
.iconCircle {
  transition: 0.2s;
}

.link:hover {
  background-color: var(--faint-weak-up);
}

.link.active {
  color: var(--base-weak);
  background-color: var(--accent-strong);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.link.active .icon,
.link.active .iconCircle {
  fill: var(--base-weak);
}
