.inputBase {
  width: 100%;
  min-width: 0;
  margin: 0;
  font-size: 1rem;
  color: var(--faint-strong-text);
  background-color: transparent;
  border: none;
  outline: none;
}

.inputBase::placeholder {
  color: var(--faint-strong-text-down);
}
