.deck {
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 1rem;
}

.wrapper {
  display: grid;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 0;
  margin: 0;
}
