.subtitle {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.line {
  display: block;
  height: 2px;
  background-color: var(--faint-weak-up);
  border-radius: 1px;
}

.line:first-child,
.line:last-child {
  width: 1rem;
}

.line:first-child {
  margin-right: 0.5rem;
}

.line:nth-of-type(2) {
  flex-grow: 1;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.line:last-child {
  margin-left: 0.5rem;
}

.text {
  color: var(--faint-strong-text-down);
}
