.group {
  padding: 0.285em 0.571em;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.857em;
}

.firstGroup {
  color: var(--first-group-strong);
  background-color: var(--first-group-weak);
}

.secondGroup {
  color: var(--second-group-strong);
  background-color: var(--second-group-weak);
}

.thirdGroup {
  color: var(--third-group-strong);
  background-color: var(--third-group-weak);
}

.fourthGroup {
  color: var(--fourth-group-strong);
  background-color: var(--fourth-group-weak);
}

.fifthGroup {
  color: var(--success-strong);
  background-color: var(--success-weak);
}
