.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: 0.2s;
}

.body {
  z-index: 5;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 1rem;
  align-items: center;
  height: 60px;
  margin: 0 1rem;
}

.title {
  color: var(--faint-strong);
}

.scroll {
  background-color: rgb(255 255 255 / 80%);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
}
