.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 1em;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 0.125em solid var(--faint-strong);
  border-radius: 1.8em;
}

.focuse {
  border-color: var(--accent-strong);
}

.wrapper svg {
  width: 1.75em;
  height: 1.75em;
  fill: var(--faint-strong);
}

.focuse svg {
  fill: var(--accent-strong);
}

.input {
  font-size: 1em;
  color: var(--faint-strong-text);
  background-color: transparent;
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--faint-strong-text-down);
}
