.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--accent-strong);
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.body {
  z-index: 5;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 1rem;
  align-items: center;
  height: 60px;
  margin: 0 1rem;
}
