:root {
  /* Colors */
  --base-strong: #000;
  --base-weak: #fff;
  --faint-strong: #524e59;
  --faint-weak: #f4f5fa;
  --faint-strong-down: #8f8d96;
  --faint-strong-text: #544f5a;
  --faint-strong-text-down: #79767e;
  --faint-weak-up: #ecedf3;
  --faint-weak-text: #b4b2b7;
  --accent-strong: #9155fd;
  --accent-weak: #f2eaff;
  --accent-strong-up: #804bdf;
  --accent-weak-up: #bd99fe;
  --critic-strong: #ff4c51;
  --success-strong: #56ca00;
  --success-weak: #eaf9e0;
}
