.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}

.buttonIconRight {
  justify-content: end;
}

.hide {
  display: none;
}

.icon {
  height: 100%;
  fill: var(--gray);
  transition: .2s;
}

.button:hover .icon {
  fill: var(--active);
}
