.main {
  display: grid;
  height: 100vh;
  padding: 4.75rem 1rem 1rem;
}

/* .inputBlock {
  display: grid;
  row-gap: 2rem;
} */

.titleBlock {
  display: flex;
  align-items: center;
  margin-bottom: -0.6rem;
}

.line {
  height: 2px;
  background-color: var(--faint-weak-text);
}

.line:first-child,
.line:last-child {
  width: 1rem;
}

.line:first-child {
  margin-right: 0.25rem;
}

.line:nth-of-type(2) {
  width: 100%;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.line:last-child {
  margin-left: 0.25rem;
}

.title,
.counter {
  color: var(--faint-weak-text);
}

.counter {
  font-weight: 500;
}

.addBtnBox {
  justify-self: end;
  padding: 0 1rem;
}

.cardsBlock {
  display: grid;
  row-gap: 1rem;
  height: 100%;
  padding: 2rem 1rem 0;
  overflow: auto;
  background-color: grey;
}

.btnBox {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  z-index: 5;
  width: calc(100% - 2rem);
  transform: translateX(-50%);
}

.btnBox button {
  width: 100%;
}
